---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/hops?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '385'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":4,"totalResults":165,"data":[{"id":1976,"name":"#06300","category":"hop","categoryDisplay":"Hops","createDate":"2013-06-24
        16:07:41"},{"id":1,"name":"Admiral","description":"Bred at Wye as a replacement
        for Target and released in 1998, Admiral is a high-alpha variety considered
        to have a more pleasing, less harsh bitterness.","countryOfOrigin":"GB","alphaAcidMin":13,"betaAcidMin":4.8,"betaAcidMax":6.1,"humuleneMin":7,"humuleneMax":26,"caryophylleneMin":6,"caryophylleneMax":8,"cohumuloneMin":37,"cohumuloneMax":45,"myrceneMin":39,"myrceneMax":48,"farneseneMin":1.8,"farneseneMax":2.2,"category":"hop","categoryDisplay":"Hops","createDate":"2013-06-24
        16:07:26","updateDate":"2013-06-24 16:10:37","country":{"isoCode":"GB","name":"UNITED
        KINGDOM","displayName":"United Kingdom","isoThree":"GBR","numberCode":826,"createDate":"2012-01-03
        02:41:33"}},{"id":2,"name":"Aged \/ Debittered Hops (Lambic)","category":"hop","categoryDisplay":"Hops","createDate":"2013-06-24
        16:07:26"},{"id":3,"name":"Ahtanum","description":"An open-pollinated aroma
        variety developed in Washington, Ahtanum is used for its distinctive, somewhat
        Cascade-like aroma and for moderate bittering.","countryOfOrigin":"US","alphaAcidMin":5.7,"betaAcidMin":5,"betaAcidMax":6.5,"humuleneMin":16,"humuleneMax":[...]
