---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/glass/1?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"READ ONLY MODE: Request Successful","data":{"id":1,"name":"Flute","createDate":"2012-01-03
        02:41:33"},"status":"success"}'
  recorded_at: Sat, 11 Aug 2012 22:33:46 GMT
recorded_with: VCR 2.2.2
