---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY&established=2006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":2,"totalResults":55,"data":[{"id":"QtDyxR","name":"612
        Brew LLC","description":"At 612Brew, the newest beer company in the 612, we
        want to make your newest favorite beer you\u2019ve never had.\r\n\r\nWith
        our operation moving to a larger location in Uptown, we have the opportunity
        to make and test out much larger batches of hand crafted beer and present
        them for you to try. You never know what we may brew next, a Porter, a Pilsner,
        a Bock or a Belgian. We are excited for each new beer that we make and hope
        you get excited to try them.","website":"http:\/\/612brew.com\/","established":"2006","isOrganic":"N","images":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/QtDyxR\/upload_RQJsAZ-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/QtDyxR\/upload_RQJsAZ-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/QtDyxR\/upload_RQJsAZ-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2012-03-21 19:06:15"},{"id":"SIlrQa","name":"961 BEER","description":"961
        Beer began during the dark days of the July 2006 siege on Lebanon. Tired with
        the lack of quality beer in Lebanon, Mazen Hajjar and his friends started
        to brew beer in his very own kitchen. The first batches were brewed in 20
        liter kettles. Granted that war and blockades are not the ideal conditions
        to start a company, alongside everyone telling them they were mad to even
        co[...]
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY&established=2006&p=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":2,"numberOfPages":2,"totalResults":55,"data":[{"id":"VcP5[...]
