---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/category/1?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":1,"name":"British
        Origin Ales","createDate":"2012-03-21 20:06:45"},"status":"success"}'
  recorded_at: Mon, 22 Jul 2013 00:05:49 GMT
recorded_with: VCR 2.4.0
