---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beer/99Uj1n?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":"99Uj1n","name":"Curmudgeon\u2019s
        Better Half","abv":"11.9","glasswareId":5,"styleId":13,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/99Uj1n\/upload_vcInAc-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/99Uj1n\/upload_vcInAc-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/99Uj1n\/upload_vcInAc-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-02-21
        11:27:00","updateDate":"2012-09-08 17:12:04","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"style":{"id":13,"categoryId":1,"category":{"id":1,"name":"British
        Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"Old Ale","description":"Dark
        amber to brown in color, old ales are medium to full bodied with a malty sweetness.
        Hop aroma should be minimal and flavor can vary from none to medium in character
        intensity. Fruity-ester flavors and aromas can contribute to the character
        of this ale. Bitterness should be minimal but evident and balanced with malt
        and\/or caramel-like sweetness. Alcohol types can be varied and complex. A
        distinctive quality of these ales is that they undergo[...]
