---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/fermentables?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":5,"totalResults":222,"data":[{"id":165,"name":"Abbey
        Malt","category":"malt","categoryDisplay":"Malts, Grains, & Fermentables","createDate":"2013-06-24
        16:07:41"},{"id":166,"name":"Acidulated Malt","description":"Lowers mash,
        wort, and beer pH. Contains 1-2% lactic acid. Enhances enzymatic activity
        in mash and improves extract efficiency. Lightens color in pale brews. Enhances
        stability and extends shelf life of finished beer. Promotes well-rounded,
        complex beer flavor.","countryOfOrigin":"DE","srmId":3,"srmPrecise":3,"moistureContent":7,"dryYield":58.4,"potential":1.027,"protein":12,"maxInBatch":10,"requiresMashing":"Y","characteristics":[{"id":9,"name":"Head","description":"Helps
        the head retention of the beer.","createDate":"2013-06-24 16:07:26"}],"category":"malt","categoryDisplay":"Malts,
        Grains, & Fermentables","createDate":"2013-06-24 16:07:41","updateDate":"2013-06-24
        16:10:14","srm":{"id":3,"name":"3","hex":"FFCA5A"},"country":{"isoCode":"DE","name":"GERMANY","displayName":"Germany","isoThree":"DEU","numberCode":276,"createDate":"2012-01-03
        02:41:33"}},{"id":181,"name":"Amber Malt","description":"Roasted specialty
        malt used in some English browns, milds and old ales to add color and a biscuit
        taste. Intense flavour","countryOfOrigin":"GB","srmId":22,"srmPrecise":22,"moistureContent":2.8,"coarseFineDifference":1.5,"diastaticPower":20,"dryYield":75,"potential":1.035,"protein":10,"maxInBatch":20,"requiresMashing":"Y","characteristics":[{"id":2,"name":"Biscuit","description":"Imparts
        a biscuity quality upon the beer.","createDate":"2013-06-24 16:07:26"}],"category":"malt","categoryDisplay":"Malts,
        Grains, & Fermentables","createDate":"2013-06-24 16:07:41","updateDate":"2013-06-24
        16:10:14","srm":{"id":22,"name":"22","hex":"8E2900"},"country":{"isoCode":"GB","name":"UNITED
        KINGDOM","displayName[...]
