---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beers?key=API_KEY&abv=5.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":20,"totalResults":985,"data":[{"id":"c4f2KE","name":"''Murican
        Pilsner","abv":"5.5","glasswareId":4,"styleId":98,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/c4f2KE\/upload_jjKJ7g-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/c4f2KE\/upload_jjKJ7g-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/c4f2KE\/upload_jjKJ7g-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2013-08-19
        11:58:12","updateDate":"2013-08-19 11:58:23","glass":{"id":4,"name":"Pilsner","createDate":"2012-01-03
        02:41:33"},"style":{"id":98,"categoryId":8,"category":{"id":8,"name":"North
        American Lager","createDate":"2012-03-21 20:06:46"},"name":"American-Style
        Pilsener","description":"This classic and unique pre-Prohibition American-style
        Pilsener is straw to deep gold in color. Hop bitterness, flavor and aroma
        are medium to high, and use of noble-type hops for flavor and aroma is preferred.
        Up to 25 percent corn and\/or rice in the grist should be used. Malt flavor
        and aroma are medium. This is a light-medium to medium-bodied beer. Sweet
        corn-like dimethylsulfide (DMS), fruity esters and American hop-derived citrus
        flavors or aromas should not be perceived. Diacetyl is not acceptable. There
        should be no chill haze. Competition organizers may wish to subcategorize
        this style into rice and corn subcategories.","ibuMin":"25","ibuMax":"40","abvMin":"5","abvMax":"6","srmMin":"3","srmMax":"6","ogMin":"1.045","fgMin":"1.012","fgMax":"1.018","createDate":"2012-03-21
        20:06:46"}},{"id":"M6vu9P","name":"10 Blocks South","description":"Tired of
        the standard American Pale Ale? Not feeling the hop bite and higher ABV of
        an IPA? We have something in-between. What you get is a hop-centric but easy
        drinking beer with tons of citrus and floral hop character brought on by Centennial,
        Cascade, Columbus and Chinook hops and backed with a solid malt bill.","abv":"5.5","ibu":"56","glasswareId":5,"srmId":9,"availableId":3,"styleId":25,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-09
        21:35:12","updateDate":"2013-08-09 15:10:28","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"srm":{"id":9,"name":"9","hex":"E58500"},"available":{"id":3,"name":"Not
        Available","description":"Beer is not available."},"style":{"id":25,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        Pale Ale","description":"American pale ales range from deep golden to copper
        in color. The style is characterized by fruity, floral and citrus-like American-variety
        hop character producing medium to medium-high hop bitterness, flavor, and
    [...]
