---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beers?key=API_KEY&abv=5.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":10,"totalResults":495,"data":[{"id":"M6vu9P","name":"10
        Blocks South","description":"Tired of the standard American Pale Ale? Not
        feeling the hop bite and higher ABV of an IPA? We have something in-between.
        What you get is a hop-centric but easy drinking beer with tons of citrus and
        floral hop character brought on by Centennial, Cascade, Columbus and Chinook
        hops and backed with a solid malt bill.","abv":"5.5","ibu":"56","glasswareId":5,"srmId":9,"availableId":1,"styleId":25,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-09
        21:35:12","updateDate":"2012-03-22 13:05:46","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"srm":{"id":9,"name":"9","hex":"E58500"},"available":{"id":"1","name":"Year
        Round","description":"Available year round as a staple beer."},"style":{"id":25,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        Pale Ale","description":"American pale ales range from deep golden to copper
        in color. The style is characterized by fruity, floral and citrus-like American-variety
        hop character producing medium to medium-high hop bitterness, flavor, and
        aroma. Note that the \"traditional\" style of this beer has its origins with
        certain floral, fruity, citrus-like, piney, resinous, or sulfur-like American
        hop varietals. One or more of these hop characters is the perceived end, but
        the perceived hop characters may be a result of the skillful use of hops of
        other national origins. American pale ales have medium body and low to medium
        maltiness. Low caramel character is allowable. Fruity-ester flavor and aroma
        should be moderate to strong. Diacetyl should be absent or present at very
        low levels. Chill haze is allowable at cold temperatures.","ibuMin":"30","ibuMax":"42","abvMin":"4.5","abvMax":"5.6","srmMin":"6","srmMax":"14","ogMin":"1.044","fgMin":"1.008","fgMax":"1.014","createDate":"2012-03-21
        20:06:45"}},{"id":"Vk1ohg","name":"2011 Christmas Ale","description":"Every
        year since 1975 the brewers at Anchor have brewed a distinctive and unique
        Christmas Ale, which is available from early November to mid-January. The
        Ale''s recipe is different every year\u2014as is the tree on the label\u2014but
        the intent with which we offer it remains the same: joy and celebration of
        the newness of life.","abv":"5.5","glasswareId":5,"availableId":4,"styleId":125,"isOrganic":"N","labels":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/Vk1ohg\/upload_OZt3zl-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/Vk1ohg\/upload_OZt3zl-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/Vk1ohg\/upload_OZt3zl-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:42:37","updateDate":"2012-03-22 13:05:25","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":"4","name":"Seasonal","description":"Available
        at the same time of year, every year."},"style":{"id":125,"categoryId":11,"category":{"id":11,"name":"Hybrid\/mixed
        Beer","createDate":"20[...]
