---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/fermentable/1924?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '386'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":1924,"name":"CaraMunich","characteristics":[{"id":5,"name":"Caramel","description":"Imparts
        a caramel quality upon the beer.","createDate":"2013-06-24 16:07:26"}],"category":"malt","categoryDisplay":"Malts,
        Grains, & Fermentables","createDate":"2013-06-24 16:07:57"},"status":"success"}'
  recorded_at: Fri, 02 Aug 2013 01:31:27 GMT
recorded_with: VCR 2.5.0
