---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/fermentable/1924?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":1924,"name":"CaraMunich","characteristics":[{"id":5,"name":"Caramel","description":"Imparts
        a caramel quality upon the beer.","createDate":"2013-06-24 16:07:26"}],"category":"malt","categoryDisplay":"Malts,
        Grains, & Fermentables","createDate":"2013-06-24 16:07:57"},"status":"success"}'
  recorded_at: Mon, 31 Mar 2014 20:13:23 GMT
recorded_with: VCR 2.4.0
