---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/locations?key=API_KEY&locality=San+Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '373'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":1,"totalResults":19,"data":[{"id":"wXmTDU","name":"Main
        Brewery","streetAddress":"563 Second Street","locality":"San Francisco","region":"California","postalCode":"94107","phone":"415-369-0900","hoursOfOperation":"Monday
        - Thursday: 11:30am to 12:00am\r\nFriday & Saturday: 11:30am to 1:00am\r\nSunday:
        10:00am to 12:00am","latitude":37.7824175,"longitude":-122.3925921,"isPrimary":"Y","inPlanning":"N","isClosed":"N","openToPublic":"Y","locationType":"brewpub","locationTypeDisplay":"Brewpub","countryIsoCode":"US","yearOpened":"2000","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2012-09-29 13:00:01","breweryId":"EdRcIs","brewery":{"id":"EdRcIs","name":"21st
        Amendment Brewery","description":"The 21st Amendment Brewery offers a variety
        of award winning house made brews and American grilled cuisine in a comfortable
        loft like setting. Join us before and after Giants baseball games in our outdoor
        beer garden. A great location for functions and parties in our semi-private
        Brewers Loft. See you soon at the 21A!","website":"http:\/\/www.21st-amendment.com\/","established":"2000","isOrganic":"N","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/EdRcIs\/upload_YmgSv3-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/EdRcIs\/upload_YmgSv3-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/EdRcIs\/upload_YmgSv3-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2012-10-22 17:12:59"},"country":{"isoCode":"US","name":"UNITED
        STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03
        02:41:33"}},{"id":"g8pnb7","name":"Main Brewery","streetAddress":"620 Treat","locality":"San
        Francisco","region":"California","postalCode":"94110","phone":"(415) 341-0152","website":"http:\/\/www.southernpacificbrewing.com\/","hoursOfOperation":"Mon
        - Wed: 11:00 am - 12:00 am\r\nThu - Sat: 11:00 am - 2:00 am\r\nSun: 11:00
        am - 12:00 am","latitude":37.7601299,"longitude":-122.4140453,"isPrimary":"Y","inPlanning":"N","isClosed":"N","openToPublic":"Y","locationType":"micro","locationTypeDisplay":"Micro
        Brewery","countryIsoCode":"US","status":"verified","statusDisplay":"Verified","createDate":"2013-05-17
        14:12:18","updateDate":"2013-05-17 14:12:18","breweryId":"f0wIsY","brewery":{"id":"f0wIsY","name":"Southern
        Pacific [...]
