---
http_interactions:
- request:
    method: get
    uri: http://api.playground.brewerydb.com/beers?key=A1029384756B&abv=5.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":8,"data":[{"id":"VjQIQW","name":"2011
        Christmas Ale","description":"Every year since 1975 the brewers at Anchor
        have brewed a distinctive and unique Christmas Ale, which is available from
        early November to mid-January. The Ale''s recipe is different every year\u2014as
        is the tree on the label\u2014but the intent with which we offer it remains
        the same: joy and celebration of the newness of life.","abv":"5.5","glasswareId":5,"availableId":4,"styleId":98,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-26
        04:00:59","glass":{"id":5,"name":"Pint","createDate":"2012-03-26 04:00:04"},"available":{"name":"Seasonal","description":"Available
        at the same time of year, every year."},"style":{"id":98,"categoryId":23,"category":{"id":23,"name":"Specialty
        Beer","bjcpCategory":"23","createDate":"2012-03-26 04:00:04"},"name":"Specialty
        Beer","simpleUrl":"specialty-beer","createDate":"2012-03-26 04:00:04"}},{"id":"UwavWp","name":"40K
        Honey Wheat Ale","description":"This dry, crisp wheat ale is delicately spiced
        with coriander and orange peel and has complex floral aroma. The addition
        of orange blossom honey contributes to its light body and clean finish. It
        is easy drinking and pairs well with spicy foods.","abv":"5.5","ibu":"18","glasswareId":5,"availableId":1,"styleId":21,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-26
        04:00:59","glass":{"id":5,"name":"Pint","createDate":"2012-03-26 04:00:04"},"available":{"name":"Year
        Round","description":"Available year round as a staple beer."},"style":{"id":21,"categoryId":6,"category":{"id":6,"name":"Light
        Hybrid Beer","bjcpCategory":"6","createDate":"2012-03-26 04:00:04"},"bjcpSubcategory":"D","name":"American
        Wheat or Rye Beer","simpleUrl":"american-wheat-or-rye-beer","ibuMin":"15","ibuMax":"30","abvMin":"4","abvMax":"5.5","srmMin":"3","srmMax":"6","ogMin":"1.04","ogMax":"1.055","fgMin":"1.008","fgMax":"1.013","createDate":"2012-03-26
        04:00:04"}},{"id":"6MWQlT","name":"420 IPA","description":"This beer is a
        very bitter West CoastIPA. It has very low malt character and lots of citrus
        flavor. It creates an explosion of hops in your mouth!","abv":"5.5","ibu":"100","glasswareId":5,"availableId":1,"styleId":49,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-26
        04:00:59","glass":{"id":5,"name":"Pint","createDate":"2012-03-26 04:00:[...]
- request:
    method: get
    uri: http://api.playground.brewerydb.com/beer/KR4X6i?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":"KR4X6i","name":"Caramel
        Rye","styleId":3,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-26
        04:01:18","style":{"id":3,"categoryId":1,"category":{"id":1,"name":"Light
        Lager","bjcpCategory":"1","createDate":"2012-03-26 04:00:04"},"bjcpSubcategory":"C","name":"Premium
        American Lager","simpleUrl":"premium-american-lager","ibuMin":"15","ibuMax":"25","abvMin":"4.6","abvMax":"6","srmMin":"2","srmMax":"6","ogMin":"1.046","ogMax":"1.056","fgMin":"1.008","fgMax":"1.012","createDate":"2012-03-26
        04:00:04"}},"status":"success"}'
  recorded_at: Mon, 26 Mar 2012 16:40:29 GMT
- request:
    method: get
    uri: http://api.playground.brewerydb.com/beer/vYlBZQ?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":"vYlBZQ","name":"Peacemaker","description":"Peace
        is a dangerous thing.  Peacemaker is a west coast style American Pale Ale
        that uses several hop varieties to produces a unique and bountiful hop aroma
        with well balanced bitterness.  A special blend of American and European malts
        make this a very well rounded, characterful beer.","abv":"5.7","glasswareId":5,"availableId":1,"styleId":33,"isOrganic":"N","labels":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/vYlBZQ\/upload_TD7ipr-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/vYlBZQ\/upload_TD7ipr-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/vYlBZQ\/upload_TD7ipr-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-03-26
        04:02:10","updateDate":"2012-03-26 04:38:49","glass":{"id":5,"name":"Pint","createDate":"2012-03-26
        04:00:04"},"available":{"name":"Year Round","description":"Available year
        round as a staple beer."},"style":{"id":33,"categoryId":10,"category":{"id":10,"name":"American
        Ale","bjcpCategory":"10","createDate":"2012-03-26 04:00:04"},"bjcpSubcategory":"A","name":"American
        Pale Ale","simpleUrl":"american-pale-ale","ibuMin":"30","ibuMax":"45","abvMin":"4.5","abvMax":"6.2","srmMin":"5","srmMax":"14","ogMin":"1.045","ogMax":"1.06","fgMin":"1.01","fgMax":"1.015","createDate":"2012-03-26
        04:00:04"}},"status":"success"}'
  recorded_at: Mon, 26 Mar 2012 16:58:22 GMT
recorded_with: VCR 2.0.0
