---
http_interactions:
- request:
    method: get
    uri: http://api.playground.brewerydb.com/breweries?key=A1029384756B&established=2006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":1,"data":[{"id":"Qt4daP","name":"612
        Brew LLC","description":"At 612Brew, the newest beer company in the 612, we
        want to make your newest favorite beer you\u2019ve never had.\r\n\r\nWith
        our operation moving to a larger location in Uptown, we have the opportunity
        to make and test out much larger batches of hand crafted beer and present
        them for you to try. You never know what we may brew next, a Porter, a Pilsner,
        a Bock or a Belgian. We are excited for each new beer that we make and hope
        you get excited to try them.","website":"http:\/\/612brew.com\/","established":"2006","isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-25
        04:00:17"},{"id":"eS7GHe","name":"Aksarben Brewing Company","description":"Aksarben
        Brewing Company","established":"2006","isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-03-25
        04:00:17"},{"id":"MMS5Y4","name":"Ale Asylum","description":"At ALE ASYLUM,
        we brew beers in the tradition of our friend Crusty Oldbrewer who sent us
        on this path: brew honest, brew like you mean it. Thus, our beer is brewed
        and b[...]
- request:
    method: get
    uri: http://api.playground.brewerydb.com/brewery/d1zSa7?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":"d1zSa7","name":"Lonerider
        Brewing Company","description":"We opened our doors on January 23rd, 2009
        and since then we have been impressed with the enthusiasm of craft beer aficionados
        we meet daily. The craft brewing industry is booming and you can find a tremendous
        variety out there. North Carolina has undoubtedly become the Southern State
        for beer with Asheville reigning supreme and Raleigh\/Durham\/CH not far behind.
        We hope you continue to support the variety and encourage new brewers to experiment
        with and craft new styles for everybody\u2019s pleasure.\r\n\r\n\"Effect change;
        don''t be an audience. Walk your own path, and instead of thinking outside
        the box, imagine if there was no box.\"","website":"http:\/\/www.loneriderbeer.com\/","established":"2009","isOrganic":"N","images":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/d1zSa7\/upload_kwaFB7-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/d1zSa7\/upload_kwaFB7-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/d1zSa7\/upload_kwaFB7-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-03-25
        04:00:30","updateDate":"2012-03-25 04:40:10"},"status":"success"}'
  recorded_at: Sun, 25 Mar 2012 23:52:35 GMT
recorded_with: VCR 2.0.0
