---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/categories?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":[{"id":1,"name":"Light Lager","bjcpCategory":"1","createDate":"2012-04-05
        04:00:04"},{"id":2,"name":"Pilsner","bjcpCategory":"2","createDate":"2012-04-05
        04:00:04"},{"id":3,"name":"European Amber Lager","bjcpCategory":"3","createDate":"2012-04-05
        04:00:04"},{"id":4,"name":"Dark Lager","bjcpCategory":"4","createDate":"2012-04-05
        04:00:04"},{"id":5,"name":"Bock","bjcpCategory":"5","createDate":"2012-04-05
        04:00:04"},{"id":6,"name":"Light Hybrid Beer","bjcpCategory":"6","createDate":"2012-04-05
        04:00:04"},{"id":[...]
- request:
    method: get
    uri: http://api.brewerydb.com/v2/category/1?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":1,"name":"Light Lager","bjcpCategory":"1","createDate":"2012-04-05
        04:00:04"},"status":"success"}'
  recorded_at: Thu, 05 Apr 2012 15:20:11 GMT
recorded_with: VCR 2.0.0
