---
http_interactions:
- request:
    method: get
    uri: http://api.playground.brewerydb.com/glassware?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":[{"id":1,"name":"Flute","createDate":"2012-01-03 02:41:33"},{"id":2,"name":"Goblet","createDate":"2012-01-03 02:41:33"},{"id":3,"name":"Mug","createDate":"2012-01-03 02:41:33"},{"id":4,"name":"Pilsner","createDate":"2012-01-03 02:41:33"},{"id":5,"name":"Pint","createDate":"2012-01-03 02:41:33"},{"id":6,"name":"Snifter","createDate":"2012-01-03 02:41:33"},{"id":7,"name":"Stange","createDate":"2012-01-03 02:41:33"},{"id":8,"name":"Tulip","createDate":"2012-01-03 02:41:33"},{"id":9,"name":"Weizen","createDate":"2012-01-03 02:41:33"},{"id":10,"name":"Oversized Wine Glass","createDate":"2012-01-03 02:41:33"},{"id":11,"name":"Bottle","createDate":"2012-01-03 02:41:33"},{"id":12,"name":"Can","createDate":"2012-01-03 02:41:33"},{"id":13,"name":"Willi","createDate":"2012-01-03 02:41:33"},{"id":14,"name":"Thistle","createDate":"2012-01-03 02:41:33"},{"id":15,"name":"Tall Mug","createDate":"2012-01-03 02:41:33"}],"status":"success"}'
  recorded_at: Thu, 05 Apr 2012 15:54:23 GMT
- request:
    method: get
    uri: http://api.playground.brewerydb.com/glass/1?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":1,"name":"Flute","createDate":"2012-01-03 02:41:33"},"status":"success"}'
  recorded_at: Thu, 05 Apr 2012 15:56:07 GMT
recorded_with: VCR 2.0.0
