---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/search?key=API_KEY&q=IPA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":14,"data":[{"id":"ZnS2BI","name":"IPA","abv":"6","styleId":49,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-04-05
        04:01:50","style":{"id":49,"categoryId":14,"category":{"id":14,"name":"India
        Pale Ale (IPA)","bjcpCategory":"14","createDate":"2012-04-05 04:00:04"},"bjcpSubcategory":"B","name":"American
        IPA","simpleUrl":"american-ipa","ibuMin":"40","ibuMax":"70","abvMin":"5.5","abvMax":"7.5","srmMin":"6","srmMax":"15","ogMin":"1.056","ogMax":"1.075","fgMin":"1.01","fgMax":"1.018","createDate":"2012-04-05
        04:00:04"}},{"id":"AKui0J","name":"IPA","styleId":49,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-04-05
        04:01:50","style":{"id":49,"categoryId":14,"category":{"id":14,"name":"India
        Pale Ale (IPA)","bjcpCategory":"14","createDate":"2012-04-05 04:00:04"},"bjcpSubcategory":"B","name":"American
        IPA","simpleUrl":"american-ipa","ibuMin":"40","ibuMax":"70","abvMin":"5.5","abvMax":"7.5","srmMin":"6","sr[...]
