---
http_interactions:
- request:
    method: get
    uri: http://api.playground.brewerydb.com/styles?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":[{"id":1,"categoryId":1,"category":{"id":1,"name":"Light
        Lager","bjcpCategory":"1","createDate":"2012-04-04 04:00:04"},"bjcpSubcategory":"A","name":"Lite
        American Lager","simpleUrl":"lite-american-lager","ibuMin":"8","ibuMax":"12","abvMin":"2.8","abvMax":"4.2","srmMin":"2","srmMax":"3","ogMin":"1.028","ogMax":"1.04","fgMin":"0.998","fgMax":"1.008","createDate":"2012-04-04
        04:00:04"},{"id":2,"categoryId":1,"category":{"id":1,"name":"Light Lager","bjcpCategory":"1","createDate":"2012-04-04
        04:00:04"},"bjcpSubcategory":"B","name":"Standard American Lager","simpleUrl":"standard-american-lager","ibuMin":"8","ibuMax":"15","abvMin":"4.2","abvMax":"5.3","srmMin":"2","srmMax":"4","ogMin":"1.04","ogMax":"1.05","fgMin":"1.004","fgMax":"1.01","createDate":"2012-04-04
        04:00:04"},{"id":3,"categoryId":1,"category":{"id":1[...]
- request:
    method: get
    uri: http://api.playground.brewerydb.com/style/d1zSa7?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":17,"categoryId":5,"category":{"id":5,"name":"Bock","bjcpCategory":"5","createDate":"2012-04-04
        04:00:04"},"bjcpSubcategory":"D","name":"Eisbock","simpleUrl":"eisbock","ibuMin":"25","ibuMax":"35","abvMin":"9","abvMax":"14","srmMin":"18","srmMax":"30","ogMin":"1.078","ogMax":"1.12","fgMin":"1.02","fgMax":"1.035","createDate":"2012-04-04
        04:00:04"},"status":"success"}'
  recorded_at: Wed, 04 Apr 2012 15:25:04 GMT
- request:
    method: get
    uri: http://api.playground.brewerydb.com/style/1?key=A1029384756B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"Request Successful","data":{"id":1,"categoryId":1,"category":{"id":1,"name":"Light
        Lager","bjcpCategory":"1","createDate":"2012-04-04 04:00:04"},"bjcpSubcategory":"A","name":"Lite
        American Lager","simpleUrl":"lite-american-lager","ibuMin":"8","ibuMax":"12","abvMin":"2.8","abvMax":"4.2","srmMin":"2","srmMax":"3","ogMin":"1.028","ogMax":"1.04","fgMin":"0.998","fgMax":"1.008","createDate":"2012-04-04
        04:00:04"},"status":"success"}'
  recorded_at: Wed, 04 Apr 2012 15:30:56 GMT
recorded_with: VCR 2.0.0
