---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY&established=2006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '391'
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":2,"totalResults":72,"data":[{"id":"snQlvg","name":"10
        Barrel Brewing Company","description":"We brew into a 10 Barrel Brewhouse,
        giving us the freedom to experiment with our recipes in order to produce the
        highest quality of beer that we can.  This isn\u2019t just any 10 Barrel brewhouse
        though, it\u2019s a state of the art system that allows us to blend new technology
        with the tradition of craft fundamentals.  In other words we can\u2019t produce
        a TON of beer, but we can make it the highest quality.","website":"http:\/\/www.10barrel.com\/","established":"2006","isOrganic":"N","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/snQlvg\/upload_qMSc0A-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/snQlvg\/upload_qMSc0A-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/snQlvg\/upload_qMSc0A-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2013-10-12 01:15:45"},{"id":"QtDyxR","name":"612 Brew","description":"At
        612Brew, the newest beer company in the 612, we want to make your newest favorite
        beer you\u2019ve never had.\r\n\r\nWith our operation moving to a larger location
        in Uptown, we have the opportunity to make and test out much larger batches
        of hand crafted beer and present them for you to try. You never know what
        we may brew next, a Porter, a Pilsner, a Bock or a Belgian. We are excit[...]
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY&established=2006&p=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '390'
    body:
      encoding: UTF-8
      string: '{"currentPage":2,"numberOfPages":2,"totalResults":72,"data":[{"id":"8hMBS3","name":"N[...]
