---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/fluidsize/1?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":1,"volume":"oz","volumeDisplay":"Ounce
        (oz)","quantity":"22","createDate":"2012-01-03 02:41:33"},"status":"success"}'
  recorded_at: Mon, 31 Mar 2014 20:13:23 GMT
recorded_with: VCR 2.4.0
