---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/yeasts?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '382'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":9,"totalResults":403,"data":[{"id":1531,"name":"10th
        Anniversary Blend","category":"yeast","categoryDisplay":"Yeast","createDate":"2013-06-24
        16:08:57"},{"id":1756,"name":"Abbey Ale","description":"Used to produce Trappist
        style beers. Similar to WLP500, but is less fruity and more alcohol tolerant
        (up to 15% ABV). Excellent yeast for high gravity beers, Belgian ales, dubbels
        and trippels.","yeastType":"ale","attenuationMin":75,"attenuationMax":80,"fermentTempMin":66,"fermentTempMax":72,"alcoholToleranceMin":10,"alcoholToleranceMax":15,"productId":"WLP530","supplier":"White
        Labs","yeastFormat":"liquid","category":"yeast","categoryDisplay":"Yeast","createDate":"2013-06-24
        16:09:16","updateDate":"2013-06-24 16:10:52"},{"id":1532,"name":"Abbey Ale","category":"yeast","categoryDisplay":"Yeast","createDate":"2013-06-24
        16:08:57"},{"id":1757,"name":"Abbey IV Ale","description":"An authentic Trappist
        style yeast. Use for Belgian style ales, dubbels, trippels, and specialty
        beers. Fruit character is medium, in between WLP500 (high) and WLP530 (low).","yeastType":"ale","attenuationMin":74,"attenuationMax":82,"fermentTempMin":66,"fermentTempMax":72,"alcoholToleranceMin":[...]
