---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/search?key=API_KEY&q=IPA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":19,"totalResults":905,"data":[{"id":"AKyyYN","name":"IPA","styleId":30,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:30","updateDate":"2012-03-22 13:04:37","style":{"id":30,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        India Pale Ale","description":"American-style India pale ales are perceived
        to have medium-high to intense hop bitterness, flavor and aroma with medium-high
        alcohol content. The style is further characterized by floral, fruity, citrus-like,
        piney, resinous, or sulfur-like American-variety hop character. Note that
        one or more of these American-variety hop characters is the perceived end,
        but the hop characters may be a result of the skillful use of hops of other
        national origins. The use of water with high mineral content results in a
        crisp, dry beer. This pale gold to deep copper-colored ale has a full, flowery
        hop aroma and may have a strong hop flavor (in addition to the perception
        of hop bitterness). India pale ales possess medium maltiness which contributes
        to a medium body. Fruity-ester flavors and aromas are moderate to very strong.
        Diacetyl can be absent or may be perceived at very low levels. Chill and\/or
        hop haze is allowable at cold temperatures. (English and citrus-like American
        hops are considered enough of a distinction justifying separate American-style
        IPA and English-style IPA categories or subcategories. Hops of other origins
        may be used for bitterness or approximating traditional American or English
        character. See English-style India Pale Ale","ibuMin":"50","ibuMax":"70","abvMin":"6.3","abvMax":"7.5","srmMin":"6","srmMax":"14","ogMin":"1.06","fgMin":"1.012","fgMax":"1.018","createDate":"2012-03-21
        20:06:45"},"type":"beer"},{"id":"NxvZb9","name":"IPA","abv":"6.7","styleId":30,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:29","updateDate":"2012-03-22 13:04:38","style":{"id":30,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        India Pale Ale","description":"American-style India pale ales are perceived
        to have medium-high to intense hop bitterness, flavor and aroma with medium-high
        alcoh[...]
