---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/search?key=API_KEY&q=IPA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":145,"totalResults":7202,"data":[{"id":"xuDNdK","name":"IPA
        (India Pale Ale)","description":"Originally brewed in England in the 18th
        and 19th centuries for export to the thirsty colonials stationed in India.
        Higher in hop and alcohol content (both natural preservatives), this amber,
        fruity ale has a big hop nose and assertively dry, hoppy finish. Unfiltered
        and dry hopped for more hop flavor and aroma. (7.1% abv).","abv":"7.1","glasswareId":5,"styleId":30,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:30","updateDate":"2012-03-22 13:05:35","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"style":{"id":30,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        India Pale Ale","description":"American-style India pale ales are perceived
        to have medium-high to intense hop bitterness, flavor and aroma with medium-high
        alcohol content. The style is further characterized by floral, fruity, citrus-like,
        piney, resinous, or sulfur-like American-variety hop character. Note that
        one or more of these American-vari[...]
