---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/categories?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":[{"id":1,"name":"British
        Origin Ales","createDate":"2012-03-21 20:06:45"},{"id":2,"name":"Irish Origin
        Ales","createDate":"2012-03-21 20:06:45"},{"id":3,"name":"North American Origin
        Ales","createDate":"2012-03-21 20:06:45"},{"id":4,"name":"German Origin Ales","createDate":"2012-03-21
        20:06:46"},{"id":5,"name":"Belgian And French Origin Ales","createDate":"2012-03-21
        20:06:46"},{"id":6,"name":"International Ale Styles","createDate":"2012-03-21
        20:06:46"},{"id":7,"name":"European-germanic Lager","createDate":"2012-03-21
        20:06:46"},{"id":8,"name":"North American Lager","createDate":"2012-03-21
        20:06:46"},{"id":9,"name":"Other Lager","createDate":"2012-03-21 20:06:46"},{"id":10,"name":"International
        Styles","createDate":"2012-03-21 20:06:46"},{"id":11,"name":"Hybrid\/mixed
        Beer","createDate":"2012-03-21 20:06:46"},{"id":12,"name":"Mead, Cider, &
        Perry","createDate":"2012-03-21 20:06:46"},{"id":13,"name":"Other Origin","createDate":"2013-08-10
        12:44:20"}],"status":"success"}'
  recorded_at: Mon, 31 Mar 2014 20:13:22 GMT
recorded_with: VCR 2.4.0
