---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/glassware?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - Unlimited
      x-ratelimit-remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":[{"id":1,"name":"Flute","createDate":"2012-01-03
        02:41:33"},{"id":2,"name":"Goblet","createDate":"2012-01-03 02:41:33"},{"id":3,"name":"Mug","createDate":"2012-01-03
        02:41:33"},{"id":4,"name":"Pilsner","createDate":"2012-01-03 02:41:33"},{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},{"id":6,"name":"Snifter","createDate":"2012-01-03 02:41:33"},{"id":7,"name":"Stange","createDate":"2012-01-03
        02:41:33"},{"id":8,"name":"Tulip","createDate":"2012-01-03 02:41:33"},{"id":9,"name":"Weizen","createDate":"2012-01-03
        02:41:33"},{"id":10,"name":"Oversized Wine Glass","createDate":"2012-01-03
        02:41:33"},{"id":13,"name":"Willi","createDate":"2012-01-03 02:41:33"},{"id":14,"name":"Thistle","createDate":"2012-01-03
        02:41:33"}],"status":"success"}'
  recorded_at: Mon, 31 Mar 2014 20:13:23 GMT
recorded_with: VCR 2.4.0
